<div class="row">
    <h1> Hard & Soft Skills</h1>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="60"
    [radius]="100"
    [showUnits]=false   
    [title]="'Javascript'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'orange'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="400"
  ></circle-progress>   
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="80"
    [radius]="100"
    [showUnits]=false   
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'orange'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="400"
  ></circle-progress>   
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="100"
    [showUnits]=false   
    [title]="'Adaptabilidad'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'orange'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="400"
  ></circle-progress>   
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="95"
    [radius]="100"
    [showUnits]=false   
    [title]="'Inglés'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'orange'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="400"
  ></circle-progress>   
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="100"
    [radius]="100"
    [showUnits]=false   
    [title]="'Trabajo en Equipo'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'orange'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="400"
  ></circle-progress>   
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [showUnits]=false   
    [title]="'Resolución de conflictos'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'orange'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="400"
  ></circle-progress>   
</div>
</div>