<div class = "row">
    <h1>Educacion</h1>
    <div class="col-lg-11">
<ul>
    <li>
    <h3>Licenciatura en Relaciones del Trabajo</h3><h4>Universidad de Buenos Aires</h4>
</li>
    <p>Supervisión de equipo para liquidación de haberes en sistemas SAP – Nómina Argentina.</p>
    <li>  
    <h3>Liquidación de Sueldos y Jornales</h3><h4>(Septiembre 2018 – Abril 2021)</h4>
</li>
    <p>Liquidación de haberes en sistema SAP. Generación de archivos para presentación de cargas sociales. Generación de reportes post-nómina (Libro de Sueldos Digital – SICORE – Reportes Sindicales).</p>
    <li>  
    <h3>Supervisora de Nómina Internacional - NGA Human Resources</h3><h4>(Marzo 2014 – Septiembre 2018)</h4>
</li>    
    <p>Supervisión de equipos para liquidación de haberes en sistemas SAP y RHPRO para diversas empresas internacionales (nóminas Argentina, Bolivia, Chile, Colombia, Ecuador, Perú, Trinidad y Tobago y Venezuela).</p>
    <p>Capacitación y manejo de transición in situ de nóminas a centro de servicios de España (Duración: 4 meses).</p>
</ul>
</div>
</div>
